In [1]:
import pandas as pd

In [2]:
flavors = pd.read_csv("flavors_of_cocoa.csv", index_col= 0)

In [3]:
flavors

,Company,Bean Origin,Review Date,Cocoa Percent,Company Location,Rating
Id,,,,,,
1,A. Morin,Agua Grande,2016.0,63%,France,3.75
2,A. Morin,Kpime,2015.0,70%,France,2.75
3,A. Morin,Atsane,2015.0,70%,France,3.00
4,A. Morin,Akata,2015.0,70%,France,3.50
5,A. Morin,Quilla,2015.0,70%,France,3.50
...,...,...,...,...,...,...
1791,Zotter,Peru,2011.0,70%,Austria,3.75
1792,Zotter,Congo,2011.0,65%,Austria,3.00
1793,Zotter,Kerala State,2011.0,65%,Austria,3.50
1794,Zotter,Kerala State,2011.0,62%,Austria,3.25
1795,Zotter,"Brazil, Mitzi Blue",2010.0,65%,Austria,3.00

In [5]:
flavors.isnull().sum()

Company             0
Bean Origin         0
Review Date         4
Cocoa Percent       0
Company Location    0
Rating              0
dtype: int64

In [10]:
flavors["Company Location"].value_counts()

Company Location
U.S.A.               764
France               156
Canada               125
U.K.                  96
Italy                 63
Ecuador               54
Australia             49
Belgium               40
Switzerland           38
Germany               35
Austria               26
Spain                 25
Colombia              23
Hungary               22
Venezuela             20
Japan                 17
Brazil                17
Peru                  17
Madagascar            17
New Zealand           17
Denmark               15
Vietnam               11
Scotland              10
Guatemala             10
Israel                 9
Costa Rica             9
Argentina              9
Poland                 8
Lithuania              6
Honduras               6
South Korea            5
Nicaragua              5
Sweden                 5
Domincan Republic      5
Ireland                4
Netherlands            4
Fiji                   4
Sao Tome               4
Puerto Rico            4
Mexico                 4
Amsterdam              4
Iceland                3
Singapore              3
Portugal               3
Grenada                3
South Africa           3
Finland                2
Bolivia                2
St. Lucia              2
Chile                  2
Philippines            1
Czech Republic         1
India                  1
Martinique             1
Niacragua              1
Ghana                  1
Wales                  1
Eucador                1
Russia                 1
Suriname               1
Name: count, dtype: int64

In [11]:
flavors.dtypes

Company              object
Bean Origin          object
Review Date         float64
Cocoa Percent        object
Company Location     object
Rating              float64
dtype: object

In [12]:
flavors.head()

     Company  Bean Origin  Review Date Cocoa Percent Company Location  Rating
Id
1   A. Morin  Agua Grande       2016.0           63%           France    3.75
2   A. Morin        Kpime       2015.0           70%           France    2.75
3   A. Morin       Atsane       2015.0           70%           France    3.00
4   A. Morin        Akata       2015.0           70%           France    3.50
5   A. Morin       Quilla       2015.0           70%           France    3.50